.read-page {
  display: flex;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.read-page h1 {
  font-family: "Oswald";
  font-size: 3rem;
}

.read-page p {
  font-family: "Titillium Web";
  font-size: 2rem;
}

.judul {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 2rem;
  width: 100vw;
}

.back {
  margin-top: 3rem;
  margin-left: 3rem;
}

.f-black {
  color: black;
}
